<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">

    <title>여행지</title>
    <style>
        body {
            background-color: #F5E1CB;
        }

        .main_text {
            font-family: 'Black Han Sans', sans-serif;
        }

        .main {
            width: 600px;
            margin: auto;
            text-align: center;
        }

        .btn-warning {
            margin-top: 10px;
        }
        .img{
            width: 600px;
            height: 500px;
            margin: 10px 0px 20px auto;
        }
    </style>
    <script>
        // function result() {
        //     let name = $('#exampleFormControlInput1').val();
        //     $.ajax({
        //         type: "GET",
        //         url: "http://openapi.seoul.go.kr:8088/6d4d776b466c656533356a4b4b5872/json/RealtimeCityAir/1/99",
        //         data: {},
        //         success: function (response) {
        //             let rows = response['RealtimeCityAir']['row']
        //             for (let i =0; i <rows.length; i++){
        //                 let gu_mise = rows[i]['IDEX_MVL']
        //                 let gu_name = rows[i]['MSRSTE_NM']
        //                 if (name == gu_name && gu_mise <60){
        //                     alert('오늘은 가능')
        //                 } else if (gu_mise >60){
        //                     alert('오늘은 불가능')
        //                 }else if (name != gu_name) {
        //                     alert('다시입력해주세요')
        //                 }
        //             }
        //         }
        //     })
        // }
        function detail(){
            window.location.href ="/detail"
        }
    </script>
</head>

<body>
<div class="main">
    <img src="https://pbs.twimg.com/profile_images/950900146862137346/KDKB2pQT_400x400.jpg" class="img">
    <h1 class="main_text">집 밖은 위험해</h1>
    <hr>
    <p>지독한 집순이인 당신 오늘은 나갈수 있을 것인가?</p>
    <div>
        <div class="form-group">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="지역을 입력하세요">
            <button type="button" class="btn btn-warning" onclick="detail()" >결과는?</button>
        </div>
    </div>
</div>
</body>
</html>