<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>오늘의 결과는?</title>

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'GmarketSansBold';
        }

        @font-face {
            font-family: 'GmarketSansBold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        main {
            width: 600px;
            margin: 50px auto;
            text-align: center;
        }

        .detail-title h2 {
            font-size: 30px;
        }

        .detail-title h2 span {
            font-size: 35px;
        }

        .btn-warning {
            margin-top: 10px;
        }
        .card{
            margin-top: 50px;
            border: none;
        }

        /*.point{
            font-family:'GmarketSansBold';
            font-size: large;
            color: darkorange;
        }*/

    </style>
    <script>
        $(document).ready(function() {
            getHtml();
        });

        //메인페이지 선택 값 불러오기
        let getLink = window.location.search;
        let getGuName = getLink.split('=');	//getLink를 '='를 기준으로 두 배열 요소로 분리
        let getOnlyGuName = getGuName[1];
        let decodeGuName = decodeURI(getOnlyGuName);
        let GuName = decodeGuName
        getHtml(GuName);
        
        function getHtml() {
            let getHtml = `<h2>현재 <span id="gu_name">${GuName}</span>의 날씨와 미세먼지는,</h2>`
            $('#putName').append(getHtml);
        }

        //메인페이지로 이동
        function home() {
            window.location.href = "/";
        }

        /*function air() {
            let name = $('#Input1').val();
            $.ajax({
                type: "GET",
                url: "http://openapi.seoul.go.kr:8088/6d4d776b466c656533356a4b4b5872/json/RealtimeCityAir/1/99",
                data: {},
                success: function (response) {
                    let rows = response['RealtimeCityAir']['row']
                    for (let i = 0; i < rows.length; i++) {
                        let gu_mise = rows[i]['IDEX_MVL']
                        let gu_name = rows[i]['MSRSTE_NM']
                        if (gu_name == name && gu_mise < 80) {
                            return weather()
                        } else if (gu_mise > 80 && gu_name == name) {
                            return weather2()
                        }
                    }
                }
            })
        }

        function weather() {
            let name = $('#Input1').val();
           $.ajax({
                type: "GET",
                url: "http://openapi.seoul.go.kr:8088/7a4e6b634f6e61683439777a735441/json/ListRainfallService/1/55/",
                data: {},
                success: function (response) {
                    let rows = response['ListRainfallService']['row']
                    for (let i = 0; i < rows.length; i++) {
                        let gu_name = rows[i]['GU_NAME']
                        let rain = rows[i]['RAINFALL10']
                         if (rain > 1 && gu_name == name) {
                             location.replace(detail4);
                        } else if (rain == 0 && gu_name == name) {
                             location.replace(detail2);
                        }
                    }
                }
            })
        }

        function weather2() {
            let name = $('#Input1').val();
           $.ajax({
                type: "GET",
                url: "http://openapi.seoul.go.kr:8088/7a4e6b634f6e61683439777a735441/json/ListRainfallService/1/55/",
                data: {},
                success: function (response) {
                    let rows = response['ListRainfallService']['row']
                    for (let i = 0; i < rows.length; i++) {
                        let gu_name = rows[i]['GU_NAME']
                        let rain = rows[i]['RAINFALL10']
                         if (rain > 1 && gu_name == name) {
                             location.replace(detail);
                        } else if (rain == 0 && gu_name == name) {
                             location.replace(detail3);
                        }
                    }
                }
            })
        } */

        $.getJSON('https://api.openweathermap.org/data/2.5/weather?q='+GuName+'&appid=31fcdca165beeaf37fc68b20b23de45f&units=metric', function(result){
            $('.ctemp').append(result.main.temp);
            $('.weather').append(result.weather[0].main);
            // icon add
            var wiconUrl = '<img src="http://openweathermap.org/img/wn/' +result.weather[0].icon +'.png" alt="'+result.weather[0].desciption+'">'
            $('.icon').html(wiconUrl);

        });

        $.getJSON('http://apis.data.go.kr/B552584/ArpltnStatsSvc/getCtprvnMesureLIst?serviceKey=Y7HxmxmXvIz8qHVYRK4mmw3xAusMhDL5vK4Q0jsB7ONJoy2QSYnUXaapHyeYp4%2BkpO3szyZys52mRkeuTDlROQ%3D%3D&returnType=json&numOfRows=100&pageNo=1&itemCode=PM10&dataGubun=HOUR&searchCondition=MONTH', function(result2){
            //$('.mise').append(result2.body.items.item.seoul);
            let json = JSON.stringify(result);
            console.log(json);

        });


    </script>
</head>
<body>

    <main>
    <h2>current weather</h2>
    <h3 class="ctemp">현재 온도: </h3>
    <h3 class="weather">현재 날씨: </h3>
    <h3 class="icon"></h3>

    <h3 class="mise">미세먼지: </h3>

    <div class="detail-title" id="putName">
    </div>
    <div class="form-group detail-contents">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/2910/2910199.png" alt="Card image cap" width="50%">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">공기가 나쁘니 오늘은 집에 있는게 좋겠어요</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/704/704832.png" alt="Card image cap" width="50%">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">오늘은 비가 와요 우산을 챙기세요</p>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-warning" onclick="home()">다시 검사하기!</button>
    </div>
    <footer>
        <div style="display: none">
            Stickers made by <a href="https://www.flaticon.com/authors/stickers" title="스티커">스티커</a>
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
    </footer>
    </main>
</body>

</html>