<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>오늘의 결과는?</title>

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">

    <style>
        * {
            font-family: 'GmarketSansBold';
        }

        @font-face {
            font-family: 'GmarketSansBold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        main {
            width: 800px;
            margin: 50px auto;
            text-align: center;
        }

        .main-contents {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .main-contents h2 {
            font-size: 35px;
            margin-bottom: 30px;
        }

        .main-contents p {
            font-family: 'GmarketSansMedium';
            font-size: 15px;
            margin-bottom: 50px;
        }

        .btn-warning {
            margin-top: 10px;
        }
        .card{
            border: none;
            width: 45%;
            height: 300px;
            margin: 20px;
            float: left;
        }

        .img{
            height: 150px;
            margin: auto;
        }
        .text{
            margin-bottom: 30px;
        }
        #gu_name{
            font-size: 50px;
        }

        #warp{

        }
    </style>
    <script>

        function home() {
            window.location.href = "/";
        }

        $(document).ready(function () {
            $('#warp').empty();
            $('#card2').empty();
            getHtml();
            air();
            weather2()
        });

        //값 불러오기
        let getLink = window.location.search;
        let getGuName = getLink.split('=')[1];//getLink를 '='를 기준으로 두 배열 요소로 분리
        let decodeGuName = decodeURI(getGuName);
        let GuName = decodeGuName
        getHtml(GuName);

        var apiurl = "https://api.openweathermap.org/data/2.5/weather?q="+GuName+"&appid="+"31fcdca165beeaf37fc68b20b23de45f&units=metric"+"&lang=kr"

        var miseurl = "http://apis.data.go.kr/B552584/ArpltnStatsSvc/getCtprvnMesureLIst?serviceKey=eM2m5JnPo36gvd2W7io4zb%2BTs8Z7Ddlw5lG0pOrGjiaquLsm%2B52%2Bf%2BlyLRtEYJDBdPUzOAAETBRC7Cbc2mByYQ%3D%3D&returnType=json&numOfRows=1&pageNo=1&itemCode=PM10&dataGubun=HOUR&searchCondition=MONTH"

        //도시명 한글전환
        var e_city = GuName
        // var city = e_city.replace(e_city, function (vl) {
        //     switch (vl) {
        //         case "seoul" : return '서울';
        //         case "busan" : return '부산';
        //         case "daegu" : return '대구';
        //         case "gwanju" : return '광주';
        //         case "incheon" : return '인천';
        //         case "daejeon" : return '대전';
        //         case "ulsan" : return '울산';
        //         case "gyeonggi-do" : return '경기';
        //         case "gangwon-do" : return '강원';
        //         case "chungcheongbuk-do" : return '충북';
        //         case "chungcheongnam-do" : return '충남';
        //         case "jeollabuk-do" : return '전북';
        //         case "jeollanam-do" : return '전남';
        //         case "gyeongsangbuk-do" : return '경북';
        //         case "gyeongsangnam-do" : return '경남';
        //         case "jeju-do" : return '제주';
        //     }
        // })

        function getHtml() {
            let getHtml = `<h2>현재 <span id="gu_name">${GuName}</span>의 날씨와 미세먼지</h2>`
            $('#putName').append(getHtml);
        }

        function air2() {
            $.ajax({
                type: "GET",
                url: miseurl,
                data: {},
                success: function (response) {
                    let rows = response['response']['body']['items'][0]
                    for (let i = 0; i < rows.length; i++) {
                        let gu_mise = rows[i]['IDEX_MVL']
                        let gu_name = rows[i]['MSRSTE_NM']
                        if (gu_name == GuName && gu_mise < 55) {
                            let temp_html = `<img class="img" src="https://cdn-icons-png.flaticon.com/512/927/927567.png">
                                                <div class="text">미세먼지 : ${gu_mise}</div>`
                            $('#warp').append(temp_html)
                        } else if (gu_mise >= 55 && gu_name == GuName) {
                            let temp_html = `<img class="img" src="https://cdn-icons.flaticon.com/png/512/2959/premium/2959016.png?token=exp=1640851934~hmac=2adbbc875014421dffd0cd0b47b57458" >
                                              <div class="text">미세먼지 : ${gu_mise}</div>`
                            $('#warp').append(temp_html)
                        }

                    }
                }
            })
        }

        function air() {
            $.ajax({
                type: "GET",
                url: "http://openapi.seoul.go.kr:8088/6d4d776b466c656533356a4b4b5872/json/RealtimeCityAir/1/99",
                data: {},
                success: function (response) {
                    let rows = response['RealtimeCityAir']['row']
                    for (let i = 0; i < rows.length; i++) {
                        let gu_mise = rows[i]['IDEX_MVL']
                        let gu_name = rows[i]['MSRSTE_NM']
                        if (gu_name == GuName && gu_mise < 55) {
                            let temp_html = `<img class="img" src="https://cdn-icons-png.flaticon.com/512/927/927567.png">
                                                <div class="text">미세먼지 : ${gu_mise}</div>`
                            $('#warp').append(temp_html)
                        } else if (gu_mise >= 55 && gu_name == GuName) {
                            let temp_html = `<img class="img" src="https://cdn-icons.flaticon.com/png/512/2959/premium/2959016.png?token=exp=1640851934~hmac=2adbbc875014421dffd0cd0b47b57458" >
                                              <div class="text">미세먼지 : ${gu_mise}</div>`
                            $('#warp').append(temp_html)
                        }

                    }
                }
            })
        }

        function weather2(){
            $.ajax({
                dataType: "json",
                url: apiurl,
                type: "GET",
                async: "false",
                success: function (response){
                    let temp = response['main']['temp']
                    let waether = response['weather'][0]['description']
                    if (waether == '맑음'){
                        let temp_html = `<img class="img" src="https://cdn-icons-png.flaticon.com/512/861/861077.png"
                                                      alt="Card image cap" id="wea">
                                            <div  id="temp">온도 :${temp}</div>
                                            <div class="text"id="weat">날씨 :${waether}</div>`
                        $('#card2').append(temp_html)
                    }
                    else if (waether =='흐림'){
                        let temp_html =`<img class="img" src="https://cdn-icons-png.flaticon.com/512/557/557731.png"
                                                      alt="Card image cap" id="wea">
                                            <div id="temp">온도 :${temp}</div>
                                            <div class="text"id="weat">날씨 :${waether}</div>`
                        $('#card2').append(temp_html)
                    }
                }
            })
        }


    </script>
</head>

<body>
<main>
    <div class="main-contents">
        <div id="putName"></div>
    </div>
    <div class="card" id="warp">
        <img class="card-img-top" src="https://cdn-icons.flaticon.com/png/512/2959/premium/2959016.png?token=exp=1640851934~hmac=2adbbc875014421dffd0cd0b47b57458"
                  alt="Card image cap" >
        <span class="text">미세먼지 : 30</span>
    </div>
    <div class="card" id="card2">
        <img class="img" src="https://cdn-icons-png.flaticon.com/512/861/861077.png"
                  alt="Card image cap" id="wea">
        <div class="ctemp text" id="temp">온도 :</div>
        <div class="weather text"id="weat">날씨 :</div>
    </div>
    <div>
        <p class="comment point"></p>
        <button type="button" class="btn btn-warning" onclick="home()">다시 검사하기!</button>
    </div>

    <footer>
        <div style="display: none">
            Stickers made by <a href="https://www.flaticon.com/authors/stickers" title="스티커">스티커</a>
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
    </footer>
</main>
</body>

</html>